*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #1c1c1c;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2.625em;
  margin: 0;
  font-weight: 800;
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 0.75rem;
  margin: 0;
}

/* Layout - general */

.container {
  max-width: 550px;
  margin: 0 auto;
}

header {
  position: relative;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  background: url("img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5.7em 2.85em;
}

header > a {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.875rem;
}

/* Search bar */

.search-bar {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  bottom: -20px;
  margin-left: 3em;
  margin-right: 3em;
  background-color: #ffffff;
  border: solid 1px #d1d5db;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
}

.search-bar > input,
.search-bar > button {
  font-size: 0.875rem;
  border: none;
  font-weight: 500;
}

.search-bar > input {
  background-image: url("img/search.png");
  background-repeat: no-repeat;
  background-position: 0.5em center;
  padding: 0.7em 2.5em;
  flex-grow: 1;
  border: none;
}

.search-bar > button {
  background-color: #f9fafb;
  font-family: "Inter", sans-serif;
  padding: 0.7em 2em;
  cursor: pointer;
  border-left: solid 1px #d1d5db;
}

main {
  position: relative;
  background-color: #ffffff;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  align-items: center;
  justify-content: center;
}

main > h3 {
  width: 80%;
  text-align: center;
  color: #dfdddd;
}

/* Film list*/

.film-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: auto;
  padding: 2.85em;
}

.film {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "poster first"
    "poster second"
    "poster plot";
  padding: 1.5em 0;
  border-bottom: solid 1.5px #e5e7eb;
}

.film:last-child {
  border: none;
}

.unavailable {
  text-align: center;
}

.second-row,
.film-plot,
.film-classification {
  font-size: 0.75rem;
}

.first-row,
.second-row {
  display: flex;
  align-items: center;
}

.first-row {
  grid-area: first;
  gap: 0.85em;
}

.second-row {
  grid-area: second;
  gap: 2em;
}

.film-poster {
  grid-area: poster;
  padding-right: 1em;
  width: 100%;
}

.film-classification {
  align-self: center;
  background-image: url("/img/star.png");
  padding-left: 1.25em;
}

.watchlist-btn {
  background-image: url("/img/add.png");
  background-position: left center;
  background-color: transparent;
  padding: 1em 2em;
  border-style: none;
  cursor: pointer;
  font-size: 0.75rem;
  text-decoration: none;
}

.film-classification,
.watchlist-btn {
  background-repeat: no-repeat;
}

.film-plot {
  grid-area: plot;
  color: #6b7280;
}

.message {
  color: red;
  font-weight: 500;
}

/* Specific styling for watchlist.html */

.add-films {
  font-weight: 700;
  font-size: 0.875rem;
  color: #000000;
}

.remove {
  background-image: url("/img/remove.png");
}
